{
  "env": {
    "node": true,
    "es6": true,
    "browser":true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
